.card__link{
    text-decoration: none;
    color: #000000;
}

.card__info{
    background: #f7f7f7;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 20px auto;
    row-gap: 10px;
}

.card__name{
    font-size: 16px;
}

.card__icon{
    height: 15px;
}