.navigation{
    list-style: none;
    display: flex;
}

.navigation__link{
    color: #000000;
    display: block;
    padding: 10px 30px;
    cursor: pointer;
}

.navigation__icon{
    height: 25px;
}

.navigation__link:hover .navigation__path{
    stroke: #ff4663;
    fill: #ff4663;
}

.navigation__link:hover .navigation__circlePath{
    stroke: #ff4663;
    fill: #ffffff;
}

.navigation__link:hover .navigation__pinPath{
    stroke: #ffffff;
    fill: #ff4663;
}